body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
}

.teste {
  height: 90px;
  width: 100%;
  background-color: red;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.pokedex-logo {
  width: 40%;
  height: 40%;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-bar {
  width: 300px;
  height: 400px;
  background-color: #858585;
  border-radius: 15px;
  margin-right: 100px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.pokemon-img {
  background-color: #858585;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 15px;
  height: 200px;
  width: 200px;
}

.pokemon-img img {
  width: 100%;
  height: 100%;
}

.pokemon-num {
  color: black;
  font-family: verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  display: block;
}

.pokemon-name {
  color: black;
  font-family: verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.pokemon-types {
  width: 200px;
}

.pokemon-types img {
  width: 35%;
  height: 35%;
  padding-right: 5px;
}

.button-container {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
  margin-top: 20px;
}

.load-button {
  border: none;
  padding: 15px 40px;
  font-family: inherit;
  background-color: #858585;
  color: black;
  font-family: verdana, sans-serif;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}
